// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$white-smoke: #F5F5F5;
$green: #32B796;
$gray: #d1d0cc;
$light-gray: #F4F4F4;
$dark-gray: #191f28;

