<div class="banner" style="background-image: url('https://i.ytimg.com/vi/t0kGRcd-IFY/maxresdefault.jpg')">
    <h1>Error#148</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <%= render 'navbar_home' %>
</div>
  <div class="wrapper">
    About
    <img class="rotate" src="http://www.arcelormittal.com/distributionsolutions/content/images/reload_captcha.png" />
  </div>
