<div class="banner-background" style="background-image: url('https://i.ytimg.com/vi/t0kGRcd-IFY/maxresdefault.jpg')">
  <div class="navbar-home">
    <%= render 'navbar_home' %>
    <div class="brand">
      <h1>Error#148</h1>
    </div>
  </div>
</div>
  <div class="wrapper">
    About
  </div>
