<div class="banner" style="background-image: url('https://i.ytimg.com/vi/t0kGRcd-IFY/maxresdefault.jpg')">
    <h1>Error#148</h1>
    <hr>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <%= render 'navbar_home' %>
</div>
  <div class="wrapper">
    About
  </div>
