<table class="challenges-table">
  <caption>Orders</caption>
  <thead>
    <th>Language</th>
    <th>Challenge</th>
    <th>See app</th>
    <th>Check code</th>
  </thead>
  <tbody>
    <% @challenges.each do |item| %>
      <tr>
        <td><%= challenge.language.name %></td>
        <td><%= challenge.name%></td>
        <td><%= link_to "See page", challenge.link, class: 'btn-base' %></td>
        <td><%= link_to "See github code", challenge.link_git, class: 'btn-base' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
