<div class="container-view">
  <div class="banner-photo", style="background-image: url('https://s33.postimg.cc/bsudyamyn/jeromemonica.png')">
            <div class="item">
              <%= link_to "Add challenge", new_challenge_path, class: 'btn-base btn-action flashing-red' %>
            </div>
            <div class="item">
              <%= link_to "Solve challenge", challenges_path, class: 'btn-base btn-action flashing-green' %>
            </div>


  </div>
</div>
