<div class="container-view">
  <div class="banner-photo", style="background-image: url('https://s33.postimg.cc/bsudyamyn/jeromemonica.png')">
      <div class="row">
      <%= link_to "Add challenge", new_challenge_path, class: 'btn btn-red btn-flashing' %>
      <%= link_to "Solve challenge", new_challenge_path, class: 'btn btn-red btn-flashing' %>
      </div>


  </div>
</div>
