.banner {
  background-size: cover !important;
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.banner-photo {
  background-size: cover !important;
  color: white;
  text-align: center;
  height: calc(100vh - 90px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding: 50px;
}

.banner h1 {
  margin-left: 50px;
  margin-top: 200px;
  font-size: 50px;
  font-weight: lighter;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  font-family: courier;
  color: red;
  opacity: 0.8;
  position: absolute;
  bottom: 15%;
  right: 20%;
}
