.btn-black {
    background-color: transparent;
    color: $white-smoke;
    border: 2px solid $white-smoke;
    padding: 5px 30px;
    border-radius: 4px;
  &:hover {
    background-color: $white-smoke;
    color: black;
  }
}

.btn-red {
  background-color: transparent;
  color: $white-smoke;
  border: 2px solid red;
  padding: 5px 30px;
  border-radius: 30px;
  &:hover{
    border: 2px solid $white-smoke;
    color: $white-smoke;
  }
}

.btn-flashing {
  animation: glowing 1500ms infinite;
// @-webkit-keyframes glowing {
//   0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
//   50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
//   100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
// }

// @-moz-keyframes glowing {
//   0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
//   50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
//   100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
// }

// @-o-keyframes glowing {
//   0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
//   50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
//   100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
// }

@keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}
}

