/* Your card CSS code here */
.card {
  flex: 1 1 auto;
  margin: 10px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  height: 300px;
}

.top-right {
  position: absolute;
  top : 10px;
  right: 10px;
}

.icons {
  padding-left: 10px;
}

.card-picture {
  height: 200px;
  background-size: cover;
  color: white;
  position: relative;
}

.card-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  bottom: - 110px;
  position: absolute;
}

.card:hover {
  margin-top: -15px;
  transition: 0.3s;
}

.card-body p {
  font-size: 12px;
  color: #999999;
  font-weight: lighter;
}
