.challenges-table {
   border-top: 2px solid rgb(200, 200, 200);
   border-bottom: 2px solid rgb(200, 200, 200);
   width: 80%;
   margin: 60px auto;
   font-size: 14px;
   text-align: center;
   th, td {
    align: center;
    text-align: center;
    height: 50px;
    vertical-align: middle;
    color: $dark-gray;
   }
}

.list_items {
  padding: 10px;
  padding-left: 0;
  border-radius: 5px;
  transition: all 0.15s ease;
  margin: 10px 0;
}
.hrz-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1 0 auto;
}
.list-btn {
  padding: 0 100px;
}
.inline-items {
  display: flex;
  justify-content: space-between;
}

.list_challenges {
  list-style: none;
  background-color: $light-gray;
  color: $dark-gray;
  border-radius: 5px;
  padding: 1px 10px;
  h3 {
    text-align: center;
  }
}
