.tab {
  text-decoration: none;
  font-size: 18px;
  font-weight: lighter;
  color: $white-smoke;
  opacity: 0.4;
  padding-top: 57px;
  &:hover {
    opacity: 1;
    border-top: 5px solid $white-smoke;
    transition: all 0.2s ease;
  }
}
